{{define "footer"}}
<footer>Powered by
    <a href='https://golang.org/' title="The Go Programming Language: build simple, reliable, and efficient software">Go</a>
    in {{.CurrentYear}} ({{.Version}})
</footer>
{{end}}
